{% extends "template/base.twig" %}

{% block content %}
<br><br>
    <div class="ed-container">
        <div class="ed-item s-100">
            <form action="{{ path_for('user.update', {'id' : user.id}) }}" method="POST" class="ed-container" autocomplete="off">
                <div class="input-field ed-item s-100">
                    <input type="text" name="name" id="name" class="validate {{ errors.name ? ' invalid' : '' }}" placeholder="Nombre Apellido" value="{{ user.name }}">
                    <label for="name">Nombres y apellidos</label>
                    {% if errors.name %}
                        <span class="red accent-4 white-text" style="padding: .5em;">{{ errors.name | first }}</span>
                    {% endif %}
                    <br>
                    <br>
                </div>
                <div class="input-field ed-item s-100">
                    <input type="email" name="email" id="email" class="validate {{ errors.email ? ' invalid' : '' }}" placeholder="tu@correo.com" value="{{ user.email }}">
                    <label for="email">Correo electronico</label>
                    {% if errors.email %}
                        <span class="red accent-4 white-text" style="padding: .5em;">{{ errors.email | first }}</span>
                    {% endif %}
                    <br>
                    <br>
                </div>
                {% if not user.id %}
                <div class="input-field ed-item s-100">
                    <input type="password" name="password" id="password" class="validate {{ errors.password ? ' invalid' : '' }}">
                    <label for="password">Contrase単a</label>
                    {% if errors.password %}
                        <span class="red accent-4 white-text" style="padding: .5em;">{{ errors.password | first }}</span>
                    {% endif %}
                    <br>
                </div>
                {% endif %}
                <div class="ed-item s-100">
                    <a href="#" id="saveFile">Actualizar contrase単a</a><br>
                    <br>
                    <div id="fileContent" class="ed-item s-100 none">
                        <div class="input-field">
                            <label for="password_a">Actual contrase単a</label>
                            <input type="password" name="password_a" id="password_a" class="validate {{ errors.password ? ' invalid' : '' }}">
                        </div>
                        {% if errors.password %}
                            <span class="red accent-4 white-text" style="padding: .5em;">{{ errors.password | first }}</span>
                        {% endif %}
                        <br>
                        <div class="input-field">
                            <label for="password">Nueva contrase単a</label>
                            <input type="password" name="password" id="password" class="validate {{ errors.password ? ' invalid' : '' }}">
                            {% if errors.password %}
                                <span class="red accent-4 white-text" style="padding: .5em;">{{ errors.password | first }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="input-field ed-item s-100">
                    <br>
                    <button>{{ user.name ? 'Actualizar ' : 'Crear' }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}