<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <link rel="stylesheet" href="{{ base_url }}/css/ed-grid.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<div class="ed-container">
    <div class="ed-item s-100 l-20">
        <p>Acciones</p>
        <ul>
            <li><a href="">Objetos</a></li>
            <li><a href="{{ path_for("licence.index") }}">Licencias</a></li>
            <li><a href="{{ path_for("format.index") }}">Formatos</a></li>
            <li><a href="">Usuarios</a></li>
            <li><a href="{{ path_for("area.index") }}">Areas de conocimiento</a></li>
            <li><a href="">Nucleo de conocimiento</a></li>
            <li><a href="">Salir</a></li>
        </ul>
        <hr>
        {% if auth.check %}
            <p><b>{{  auth.user.name }}</b></p>
            <a href="{{ path_for('user.create') }}">Mi cuenta</a> <br>
            <a href="{{ path_for('auth.signout') }}">Cerrar sesión</a>
        {% else %}
            <p>inicio de sesion</p>
            <form action="{{ path_for("auth.signin") }}" method="post" autocomplete="off">
                <label for="username">nombre de usuario</label>
                <input type="email" name="email">
                <label for="password">contraseña</label>
                <input type="password" name="password">
                <button>inciar sesion</button>
            </form>
            <a href="{{ path_for('user.create') }}">crear nueva cuenta</a>
        {% endif %}
    </div>
    <div class="ed-item s-100 l-80">
        {% include 'template/partials/flash.twig' %}
        {% block content %}{% endblock %}
    </div>
</div>
<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>    </body>
</html>