<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <!--<link href="https://file.myfontastic.com/qLn3vtzDeL3hA83ViiXc9T/icons.css" rel="stylesheet">-->
    <!--Let browser know website is optimized for mobile-->
    <link rel="stylesheet" href="{{ base_url }}/css/ed-grid.min.css" />
    <link rel="stylesheet" href="{{ base_url }}/css/template.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">

</head>
<body>
    <div class="ed-container full">
        <div class="ed-item s-100 no-padding">
            <img src="http://www.telceltijuana.com/wp-content/uploads/2016/04/Fondo-BG-1200x200.png" alt="" style="width:100%;height:200px">
        </div>
        <div class="ed-item s-100 l-20">
        <br>
            <form action="{{ path_for('home.search') }}" method="get">
                <input type="text" name="search" placeholder="Buscar">
                <button class="btn blue">Buscar</button>
            </form>
            <br>
            <hr>
            <p>Areas de conocimiento</p>
            <ul class="menu_home">
                {% for a in areas %}
                    <li><a class="getNucleos" href="{{ path_for('area.nucleo.show', {'area': a.id}) }}" data-id-nucleo="{{ a.id }}">{{ a.name | capitalize  }}</a> <i class="material-icons">arrow_drop_down</i>
                        <ul></ul>
                    </li>
                {% endfor %}
            </ul>
            <br>
            <hr>
            {% if auth.check %}
                <p><b>{{  auth.user.name }}</b></p>
                {% if auth.user.role == 2 %}
                    <a href="{{ path_for('admin.home') }}">Panel de administración</a> <br>
                {% endif %}
                <a href="{{ path_for('auth.signout') }}">Cerrar sesión</a>
            {% else %}
                <p>inicio de sesion</p>
                <form action="{{ path_for("auth.signin") }}" method="post" autocomplete="off">
                    <input type="email" name="email" placeholder="Nombre de usuario">
                    <input type="password" name="password" placeholder="Contraseña">
                    <button class="btn blue">inciar sesion</button>
                </form>
                <a href="{{ path_for('user.create') }}">crear cuenta</a>
            {% endif %}

        </div>
        <div class="ed-item s-100 l-80 no-padding">
            {% include 'template/partials/flash.twig' %}
            {% include 'template/partials/breadcrumbs.twig' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="{{ base_url }}/js/materialize-stepper.min.js"></script>
    <script src="{{ base_url }}/js/template.js"></script>
</body>
</html>