<li class="step">
    <div class="step-title waves-effect">Educacional</div>
        <div class="step-content ed-conatiner">
        <div class="input-field ed-item s-100">
            <input type="text" name="education[tipo_interactividad]" required value="{{ object.tipo_interactividad }}">
            <label for="tipo_interactividad">Tipo de interactividad</label>
        </div>
        <div class="ed-item s-100">
        <br>
            <!--<input type="text" name="education[tipo_recurso]" required value="{{ object.tipo_recurso }}">-->
            <label for="tipo_recurso">Tipo de recurso</label>
            <select id="tipo_recurso" class="browser-default full" name="education[tipo_recurso]">
                <option value="simuladores">Simuladores</option>
                <option value="multimedia">Multimedia</option>
                <option value="tutoriales">Tutoriales</option>
                <option value="imágenes en movimiento">Imágenes en movimiento</option>
                <option value="imágenes fijas">Imágenes fijas</option>
                <option value="fotografías">Fotografías</option>
                <option value="ilustraciones">Ilustraciones</option>
                <option value="redes o mapas conceptuales">Redes o Mapas conceptuales</option>
                <option value="documento texto, tabla, gráfico">Documento texto, Tabla, gráfico</option>
            </select>
        <br>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="education[nivel_interactividad]" required value="{{ object.nivel_interactividad }}">
            <label for="nivel_interactividad">Nivel de interactividad</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="education[densidad_semantica]" value="{{ object.densidad_semantica }}">
            <label for="densidad_semantica">Densidad semántica</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="education[usuario_final]" value="{{ object.usuario_final }}">
            <label for="usuario_final">Usuario final</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="education[contexto]" value="{{ object.contexto }}">
            <label for="contexto">Contexto</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="education[rangos_edad]" value="{{ object.rangos_edad }}">
            <label for="rangos_edad">Rangos de edad</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="education[dificultad]" required value="{{ object.dificultad }}">
            <label for="dificultad">Dificultad</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="education[tiempo_aprendizaje]" value="{{ object.tiempo_aprendizaje }}">
            <label for="tiempo_aprendizaje">Tiempo de aprendizaje</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="education[descripcion]" required value="{{ object.descripcion }}">
            <label for="descripcion">Descripción</label>
        </div>
        <div class="step-actions">
            <button class="waves-effect waves-dark btn blue next-step">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
        </div>
    </div>
</li>