<li class="step">
    <div class="step-title waves-effect">Técnica</div>
    <div class="step-content ed-conatiner">

        {% if(object.id) %}
            {% include "admin/object/file.twig" %}
        {% else %}
            <div class="input-field ed-item s-100 file-field">
                <div class="btn">
                    <span>Archivo</span>
                    <input type="file" name="archive" class="archive" accept=".zip, .rar" >
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        {% endif %}
        <br>
        <div class="ed-item s-100">
            <label for="formato">Formato del archivo</label>
            <select id="formato" class="browser-default full" name="technic[formato]">
            {% for f in formats %}
                {% set selected = "" %}
                {% if (f.id == object.objeto_tecnhincal.formato) %}
                    {% set selected = "selected" %}
                {% endif %}
                <option value="{{ f.id }}" {{ selected }}>{{ f.name }}</option>
            {% endfor %}
            </select>
        </div>
        <br>
        <br>
        <div class="input-field ed-item s-100">
            <input type="text" name="technic[tamano]" class="tamano" required value="{{ object.objeto_tecnhincal.tamano }}" readonly>
            <label for="tamano">Tamaño</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="technic[requerimientos]" value="{{ object.objeto_tecnhincal.requerimientos }}">
            <label for="requerimientos">Requerimientos</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="technic[instrucciones]" value="{{ object.objeto_tecnhincal.instrucciones }}">
            <label for="instrucciones">instrucciones de instalación</label>
        </div>
        <!--<div class="input-field ed-item s-100">
            <input type="text" name="technic[otro_requerimiento]" value="{{ object.objeto_tecnhincal.otro_requerimiento }}">
            <label for="otro_requerimiento">Otros reque. de plataforma</label>
        </div>
        <div class="input-field ed-item s-100">
            <input type="text" name="technic[duracion]" value="{{ object.objeto_tecnhincal.duracion }}">
            <label for="duracion">Duración</label>
        </div>
        <div class="input-field ed-item s-100 file-field">
            <div class="btn">
                <span>Miniatura</span>
                <input type="file" name="miniatura" accept="image/*">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        -->
        <div class="step-actions">
            <button class="waves-effect waves-dark btn blue next-step">CONTINUE</button>
            <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
        </div>
    </div>
</li>